{% extends 'base.html' %} {% block body %}
<body>
  <!-- Background Video-->
  <!-- Background Video-->
  <video
    class="bg-video"
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"

  >
    <source
      src="{{ url_for('static', filename='assets/video.mp4') }}"
      type="video/mp4"
    />
  </video>
  
  <!-- Masthead-->
  <div class="d-flex justify-content-center card m-5">
    <form class="card-body" action="/predict-value">
      <h2>Upload Required data</h2>

      <div class="radios py-3 dropdown">
        <p>Home Page Featured:</p>
        <input type="radio" id="yes" name="homepage_featured" value="1">
        <label for="Yes">Yes</label><br>
        <input type="radio" id="no" name="homepage_featured" value="0" checked>
        <label for="No">No</label><br>
      </div>

      <div class="radios py-3 dropdown">
        <p>Emailer for production:</p>
        <input type="radio" id="yes" name="emailer_for_promotion" value="1">
        <label for="Yes">Yes</label><br>
        <input type="radio" id="no" name="emailer_for_promotion" value="0" checked>
        <label for="No">No</label><br>
      </div>

      <label for="quantity" class="dropdown py-3">OP_Area (between 2 and 7): <br />
      <input type="number" id="op_area" name="op_area" step="0.1" min="2" max="7">
      </label>


      <!-- Cuisine -->
      <div class="dropdown">
        <p>Cuisine</p>
        <select name="cuisine" id="cuisine" class="btn btn-secondary dropdown-toggle">
          <option value="0">Continental</option>
          <option value="1">Indian</option>
          <option value="2">Italian</option>
          <option value="3">Thai</option>
        </select>
      </div>
      <!-- End cuisine -->

      <!-- City Code -->
      <div class="dropdown py-3">
        <p>City Code</p>
        <select name="city_code" id="city_code" class="btn btn-secondary dropdown-toggle">
        <option value="647">647</option>
        <option value="614">614</option>
        <option value="679">679</option>
        <option value="659">659</option>
        <option value="526">526</option>
        <option value="590">590</option>
        <option value="599">599</option>
        <option value="685">685</option>
        <option value="461">461</option>
        <option value="649">649</option>
        <option value="541">541</option>
        <option value="478">478</option>
        <option value="703">703</option>
        <option value="576">576</option>
        <option value="628">628</option>
        <option value="702">702</option>
        <option value="579">579</option>
        <option value="596">596</option>
        <option value="648">648</option>
        <option value="632">632</option>
        <option value="522">522</option>
        <option value="615">615</option>
        <option value="577">577</option>
        <option value="517">517</option>
        <option value="651">651</option>
        <option value="683">683</option>
        <option value="713">713</option>
        <option value="609">609</option>
        <option value="675">675</option>
        <option value="553">553</option>
        <option value="593">593</option>
        <option value="654">654</option>
        <option value="693">693</option>
        <option value="658">658</option>
        <option value="515">515</option>
        <option value="556">556</option>
        <option value="561">561</option>
        <option value="680">680</option>
        <option value="620">620</option>
        <option value="638">638</option>
        <option value="700">700</option>
        <option value="676">676</option>
        <option value="604">604</option>
        <option value="456">456</option>
        <option value="562">562</option>
        <option value="695">695</option>
        <option value="699">699</option>
        <option value="602">602</option>
        <option value="485">485</option>
        <option value="698">698</option>
        <option value="473">473</option>
      </select>
      </div>

      <!-- End of City Code -->

      <!-- Region Code -->
      <div class="dropdown">
        <p>Region Code</p>
        <select name="region_code" id="region_code" class="btn btn-secondary dropdown-toggle">
          <option value="56">56</option>
          <option value="85">85</option>
          <option value="77">77</option>
          <option value="34">34</option>
          <option value="35">35</option>
          <option value="71">71</option>
          <option value="93">93</option>
          <option value="23">23</option>
        </select>
      </div>

      <!-- Region Code -->

      <!-- Categories -->
      <div class="dropdown py-3">
        <p>Categories</p>
        <select name="category" id="category" class="btn btn-secondary dropdown-toggle">
          <option value="0">Beverages</option>
          <option value="1">Biryani</option>
          <option value="2">Desert</option>
          <option value="4">Fish</option>
          <option value="5">Other Snacks</option>
          <option value="6">Pasta</option>
          <option value="7">Pizza</option>
          <option value="8">Rice Bowl</option>
          <option value="9">Salad</option>
          <option value="10">Sandwich</option>
          <option value="11">Seafood</option>
          <option value="12">Soup</option>
          <option value="13">Starters</option>
          <option value="3">Extras</option>
        </select>
      </div>

      <!-- Categories -->

      <!-- Categories -->
      <div class="d-flex justify-content-center my-4">
        <input type="submit" value="Predict Orders" class="btn btn-secondary" id="submit-btn">
        <div class="spinner-border d-none" role="status" id="loader">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

  </form>
  </div>

  
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
{% endblock %}
